# core

> Fill in a module description here

In [ ]:
#| default_exp core

In [ ]:
#| hide
from nbdev.showdoc import *

In [ ]:
#| export
def foo(): pass

In [ ]:
1+2

3

In [ ]:
import pandas
pandas.DataFrame({'col1':[1,2,30], 'col2':[4,5,6]})

   col1  col2
0     1     4
1     2     5
2    30     6

In [ ]:
4+5

9

In [ ]:
pandas.DataFrame({'col1':[10,20,30], 'col2':[4,5,6]})

   col1  col2
0    10     4
1    20     5
2    30     6

In [ ]:
#| hide
import nbdev; nbdev.nbdev_export()